:host, #map {
    width: 100%;
    height: 100%;
}

#typeButton {
    writing-mode: vertical-rl;
    background: #019f92;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    height: 50px;
    padding: 10px;
    box-sizing: content-box;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
}

#types {
    background: #019f92;
    padding: 20px;
}

#upper, #bottom {
    display: flex;
}

.upperType {
    margin-right: 10px;
    background: #6eb7b0;
    width: 100px;
    border-radius: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2em;
    justify-content: space-evenly;
    cursor: pointer;
    img {
        width: 75%;
    }
    p {
        cursor: pointer;
    }
}
.contentType {
    padding-bottom: 20px;
}

#option {
    display: flex;
    justify-content: center;
}

#optionBtn {
    border: none;
    outline: none;
    background: #6eb7b0;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px 50px;
}

#mainTypes {
    margin-right: -370px;
    transition: 1s margin;
}

.desplegado {
    margin-right: 0px !important;
}

.my-icon {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
  }

.text-green {
    color: #019f92;
}

.background-green {
    background: white;
}

#origenFinal {
    display: flex !important;
    margin-right: -200px;
    transition: 1s margin;
    #origenFinal__label {
        writing-mode: vertical-rl;
        background: #d1d3d4;
        font-size: 1.4em;
        font-weight: bold;
        color: white;
        padding: 10px;
        box-sizing: content-box;
        border-bottom-left-radius: 25%;
        border-top-left-radius: 25%;
    }
    #origenFinal__inputs {
        width: 200px;
        background: #d1d3d4;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .input__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .input__label {
            font-size: 1.3em;
            font-weight: bold;
        }
        .button_input {
            outline: none;
            height: 65px;
            width: 65px;
            border: none;
            border-radius: 50%;
            background: #f6f7f4;
            color: #d1d3d4;
        }
    }
}

.selected_input{
    background: #a4a4a5 !important;
    color: white !important;
}