<div id="map"></div>
<div id="mainTypes" style="display: none">
    <div id="typeButton">TIPUS</div>
    <div id="types">
        <div id="upper" class="contentType">
            <div class="upperType">
                <img src="assets/imgs/BiciBlanca.png" alt="">
                <p>BICING</p>
            </div>
            <div class="upperType">
                <img src="assets/imgs/FGCBlanc.png" alt="">
                <p>FGC</p>
            </div>
            <div class="upperType">
                <img src="assets/imgs/RenfeBlanc.png" alt="">
                <p>RENFE</p>
            </div>
        </div>
        <div id="bottom" class="contentType">
            <div class="upperType">
                <img src="assets/imgs/TramBlanc.png" alt="">
                <p>TRAM</p>
            </div>
            <div class="upperType">
                <img src="assets/imgs/MetroBlanc.png" alt="">
                <p>METRO</p>
            </div>
            <div class="upperType">
                <img style="width: 55%" src="assets/imgs/BusBlanc.png" alt="">
                <p>BUS</p>
            </div>
        </div>
        <div id="option">
            <button id="optionBtn">MARCAR ORIGEN</button>
        </div>
    </div>
</div>